.main-block-content {
  width: 1263px;
  margin: 0 auto;
}

.block-header {
  height: 121px;
}

.central-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  &__nameWebsite {
    font-size: 48px;
    font-weight: bold;

    &:hover {
      color: #999997;
    }
  }

  &__nameWebsite2 {
    font-size: 18px;
    font-weight: bold;

    &:hover {
      color: #999997;
    }
  }

  &__linkNavMenu {
    display: flex;
  }

  &__socialNetwork {
    display: flex;
  }

  &__iconLogin {
    display: flex;
    align-items: center;
  }

  &__navMenu {
    color: black;
    //margin-right: 30px;
    font-weight: bold;

    &:hover {
      color: #999997;
    }
  }

  &__textLogin {
    margin-left: 10px;
    color: black;
    font-weight: bold;
  }

  &__blockNavMenu {
    margin-right: 25px;
  }

  &__allIcons {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

//.block-content {
//  background: antiquewhite;
//}

.block-grid-content {
  width: 1237px;
  display: grid;
  grid-template-columns: 309px 309px 309px 309px;
  margin: 0 auto;
}

.bag-one-block {
  height: 461px;

  &:hover {
    .bag-one-block__img1 {
      display: none;
    }
    .bag-one-block__img2 {
      display: block;
    }
    .bag-one-block__buttonCart {
      display: block;
    }
    .bag-one-block__linkImg {
      display: block;
      cursor: pointer;
    }

    .bag-one-block__buttonCart {
      display: block;
      cursor: pointer;
    }
  }

  &__topBlock {
    width: 309px;
    height: 313px;
  }

  &__img1 {
    width: 309px;
  }

  &__img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 309px;
    display: none;
  }

  &__linkImg {
    background: #ffffffd9;
    color: black;
    font-weight: bold;
    position: absolute;
    margin-top: -45px;
    padding: 15px;
    width: 309px;
    display: none;
  }

  &__horizontalLine {
    width: 23px;
    border: none;
    height: 1.3px;
    background: black;
  }

  &__downBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }

  &__linkProduct {
    color: black;
    font-weight: bold;
  }

  &__prize {
    font-weight: bold;
  }

  &__buttonCart {
    background: black;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 70px;
    margin-top: 15px;
    display: none;
  }
}

.big-block-about {

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
  }

  &__title {
    font-size: 40px;
  }

  &__description {
    text-align: center;
    font-size: 26px;
    margin-top: 25px;
  }
}

.footer {
  background: black;
  height: 491px;
}

.central-footer {
  width: 784px;
  margin: 0 auto;
  height: 350px;

  &__first {
    display: flex;
    justify-content: space-between;
  }

  &__links {
    color: white;
    font-weight: bold;
    font-size: 18px;
  }

  &__first {
    padding-top: 65px;
  }

  &__secondBlock {
    margin: 70px 0px;
  }

  &__link1 {
    color: white;
    font-size: 18px;
  }

  &__email {
    border-bottom: 2px solid white;
    width: 694px;
    padding: 10px 55px;
    background: none;
    color: white;
    font-weight: bold;

    &::-webkit-input-placeholder {
      color: white;
      font-size: 16px;
      font-weight: bold;
      //background: black;
    }
  }

  &__subscribe {
    background: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 32px;
    margin-left: 16px;
    position: absolute;

    &:hover {
      background: #0E3E9B;
      color: white;
    }
  }

  &__emailLabel {
    color: gray;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    margin-top: -28px;
    margin-left: -2px;
  }

  &__third {
    height: 200px;
  }
}

.central-footer li {
  padding-bottom: 10px;

  &:last-child {
    padding-bottom: 0;
  }
}
